.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .imgBox {
    max-width: 20rem;
    width: 60%;

    img {
      width: 100%;
    }
  }

  .heading {
    font-weight: 500;
  }
}
