@import "../../assets/global.scss";

.measurement__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.measurement__view {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  &__img__wrapper {
    margin-inline: auto;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    padding: 0 2rem;

    & span {
      font-weight: 600;
    }
  }
}

.chart {
  max-width: 818px;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 0.25rem;

  &__form {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 1rem;
  }
}

.no__content.measurements {
  background-color: $color-white;
}

.measurements__container {
  .no__content {
    width: 90%;
  }
}
