@import "../../assets/global.scss";

.dashboard__layout {
  padding: 4.5rem 6rem;
  height: calc(100vh - 13rem);
}

.common {
  border-radius: 0.25rem;
  box-shadow: 1px 5px 16px 2px rgba(0, 0, 0, 0.1);
  background-color: $color-grey-light-2;
}
