@import "../../assets/global.scss";

.dashboard__layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5rem 6rem;

  @media screen and (max-width: 1200px) {
    padding: 3rem 4rem;
  }
  @media screen and (max-width: 1000px) {
    padding: 3rem 2rem;
  }
  @media screen and (max-width: 790px) {
    padding: 3rem 1rem;
  }
}

.common {
  border-radius: 0.25rem;
  box-shadow: 1px 5px 16px 2px rgba(0, 0, 0, 0.1);
  background-color: $color-grey-light-2;
}
