@import "../../assets/global.scss";

.exercises__container {
  width: 80%;
  margin-bottom: 5rem;

  & .no__content {
    width: 90%;
  }

  @media screen and (max-width: 1450px) {
    width: 90%;
  }

  @media screen and (max-width: 790px) {
    width: 95%;
  }
}
