@import "../../assets/global.scss";

.exerciseContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
  padding: 2rem;

  @media screen and (max-width: 1450px) {
    grid-template-columns: 0.5fr 1.5fr;
    gap: 1.5rem;
  }

  @media screen and (max-width: 1060px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0.5rem 3rem;

    .navBox {
      font-size: 1.1rem;
    }
  }
}
