@import "../../assets/global.scss";

.exerciseTypeAccordion {
  width: 85%;
  height: auto;

  .filter {
    margin-bottom: 1rem;
    width: 100%;

    &__wrapper {
      display: flex;
      gap: 1.5rem;
    }
  }

  @media screen and (max-width: 1060px) {
    .filter {
      align-items: center;
    }
  }
}
