@import "../../assets/global.scss";

.home__layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  row-gap: 5rem;
  padding: 4.5rem 6rem;
}

.common {
  border-radius: 0.25rem;
  box-shadow: 1px 5px 16px 2px rgba(0, 0, 0, 0.1);
  background-color: $color-grey-light-2;
}

.home {
  width: 30%;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  border-radius: 3px;
  font-size: 1rem;

  &.box {
    box-shadow: 5px 9px 19px 8px rgba(45, 45, 45, 0.2);
  }

  &__shape {
    width: 100%;
    height: 17rem;
    position: relative;
    overflow: hidden;
    margin: 0;
    border-radius: 0.25rem;
  }

  & img {
    height: 100%;
    object-fit: contain;
    transform: translateX(0) scale(1);
    backface-visibility: hidden;
    transition: all 0.5s;
    filter: grayscale(100%);
  }

  &:hover img {
    transform: scale(1.2);
    filter: blur(3px) brightness(80%);
  }

  &__caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;

    &--link:link,
    &--link:visited {
      text-decoration: none;
      color: $color-white;
      padding: 1rem;
      background-color: $color-primary;
      border-radius: 0.25rem;
    }
  }

  &:hover &__caption {
    opacity: 1;
    transform: translateY(-10rem);
  }
}
